body {
    height: 1400px;
    background-color: bisque;
}

.text {
    position: absolute;
    z-index: 100;
    color: black;
}

.slider__wrapper {
    width: 35%;
    height: 250px;
    z-index: 150;
    position: fixed;
    right: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.slide__list {
    position: absolute;
    height: 100%;
    width: 90%;
    left: 5%;
}

.slide__checkbox {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin: 8px;
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

.checkbox__text {
    position: absolute;
    margin:0;
    bottom:0;
    left:20px;
    font-size:17px;
    margin: 5px;
    margin-left: 20px;
}

.mySlides {
    position: absolute;
    width: 95%;
    text-align: center;
    top:12%;
    left:3%;
}

.slide1 {
    font-size: 15px;
    position: absolute;
    width: 95%;
    text-align: center;
    top:20%;
    left:3%;
}

.dots {
    left:35%;
    position: absolute;
    bottom: 3px;
}

.prev {
    cursor: pointer;
    left: 22%;
    transition: 0.1s ease;
    font-size: 20px;
}

.next {
    cursor: pointer;
    position: absolute;
    left: 102%;
    transition: 0.1s ease;
    font-size: 20px;
}

.next:hover {
    color: #bbb;
}

.prev:hover {
    color: #bbb;
}

.prev:active {
    color:black;
}

.next:active {
    color:black;
}

.close__btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right:0px;
    border:10px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.1s ease;
    font-size:20px;
    align-content: center;
    transform: rotate(-45deg);
    margin: 10px;
}

.close__btn:hover{
    color: white;
    background-color: black;
}

.close__btn:active{
    color: #000000;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #362323;
}
